body {
    background-color: lavender;
}

.main {
    border: 1px solid black;
}

img {
    height: 100px;
    width: 100px;
    border: 10px solid black;
}

hr {
    width: 50%;
}

.about {
    border: 1px solid black;
    width: 80%;
    margin-bottom: 10px;
    padding: 5px;
}